/*
Recruitment
*/
/* 
    Created on : Dec 21, 2016
    Author     : gandhar dhamanikar
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

body {background: #f2f3f8; font-family: 'Open Sans', helvetica, arial, sans-serif; font-size: 13px;}

a {
    color: #4285f4;
    text-decoration: none;
}

a:focus, a:hover {
    color: #4285f4;
    text-decoration: underline;
}

label {font-weight: 400;}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
.fontsize14{font-size:14px;}
.fontsize16{font-size:16px;}
.fontsize18{font-size:18px;}
.fontsize20{font-size:20px;}
.fontsize40{font-size:40px;}
h3,
h4,
h5 {
    margin-top: 5px;
    font-weight: 600;
}
.font11px{font-size: 11px;}
/* MARGINS & PADDINGS */
.p-xxs {
    padding: 5px;
}
.p-xs {
    padding: 10px;
}
.p-sm {
    padding: 15px;
}
.p-m {
    padding: 20px;
}
.p-md {
    padding: 25px;
}
.p-lg {
    padding: 30px;
}
.p-xl {
    padding: 40px;
}
.p-w-xs {
    padding: 0 10px;
}
.p-w-sm {
    padding: 0 15px;
}
.p-w-m {
    padding: 0 20px;
}
.p-w-md {
    padding: 0 25px;
}
.p-w-lg {
    padding: 0 30px;
}
.p-w-xl {
    padding: 0 40px;
}
.m-xxs {
    margin: 2px 4px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m {
    margin: 15px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-xs7 {
    margin-top: 7px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 1px;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 1px;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}
.space-15 {
    margin: 15px 0;
}
.space-20 {
    margin: 20px 0;
}
.space-25 {
    margin: 25px 0;
}
.space-30 {
    margin: 30px 0;
}
.fl{float:left;}
.fr{float:right;}
.clrboth{clear:both;}
.clrboth:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.bgcolor-grey{background:#919191;}
.color-white{color:#FFFFFF}
.color-red{color:#FF7D60}
.color-yellow{color:#FAC92C}
.color-orange{color:#E4A812}
.color-greenlt{color:#CED163}
.color-greenmid{color:#A8D163}
.color-green{color:#28AE61}
.color-gray{color:#BFC4C8}

.width49{width:49%;}

.container{width:auto;}
.row{margin:0;}

.navbar-default 
{
    background-color: #00b9f5;
}

.navbar {border-radius: 0px;}

.navbar-default .navbar-nav > li > a {color: #ffffff;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover
{
    color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #ffffff;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover {color:#ffffff; font-size: 24px; margin-right: 30px; font-weight: 600;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover 
{
    color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #ffffff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover 
{
    color: #fff;
    background-color: transparent;
}

.navbar-right > li > a {font-size: 11px;}

.border-right {border-right: 1px solid #59567a;}

.border-right-light {border-right: 1px solid #e9e9f2;}

.nav-pills > li > a {color:#908a9c;}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #3f51b5;
}

.ibox {
    background-color: #ffffff;
    color: inherit;
    /*padding: 15px 20px 20px 20px;*/
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-grey {
    background-color: #dee0eb;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.label-light {color:#908a9c; font-size: 12px; font-weight: 400;}

.text-light {color:#a6a0b3;}

.screening-list-item {font-size: 11px; text-align: center; margin-top: 5px; width: 100%; color:#908a9c;}

.screening-list-item a {font-size: 20px; margin: 0;}

.block {display: block; font-size: 22px; width: 20px;}

.btn-grey {
    color: #fff;
    background-color: #a1a0b2;
    border-color: #8a89a1;
}

.dropdown-menu > li > a {font-size: 12px; color:#908a9c;}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #908a9c;
    text-decoration: none;
    background-color: #f1f3f5;
}

.btn {border-radius: 2px;}

.dark{background: #7d87bb;}

.form-control {border-radius: 1px; background-color: #f7f7fa; border-color: #f7f7fa; color:#797c8b; box-shadow: none;}

.form-control:focus {
    border-color: #d8d8e6;
}

.modal-sidebar {width:100%; height: 500px; background: #f1f3f5; padding: 10px 20px;}

.no-pad {padding: 0px;}

.modal-left{width: 100%; height:auto; padding: 15px 30px;}

.btn-dark 
{
    color: #fff;
    background-color: #646c96;
    border-color: transparent;
}

.btn-dark:hover {color: #fff;}

.btn.focus, .btn:focus, .btn:hover .btn-dark {color: #fff;}

.pnl-grey {width: 100%; height:auto; background: #dee0eb; padding: 20px;}

.text-info {color:#4285f4;}

.block-element {display: block;}

.hide-element {display: none;}

.label-circle 
{
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 8px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin-right:10px;
}

.btn-inline {display:inline-block;}

/* AGILE BOARD */
.sortable-list {
  padding: 10px 0;
}
.agile-list {
  list-style: none;
  margin: 0;
}
.agile-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 2px;
}
.agile-list li:hover {
  cursor: pointer;
  background: #fff;
}
.agile-list li.warning-element {
  border-left: 3px solid #f8ac59;
}
.agile-list li.danger-element {
  border-left: 3px solid #ed5565;
}
.agile-list li.info-element {
  border-left: 3px solid #1c84c6;
}
.agile-list li.success-element {
  border-left: 3px solid #1ab394;
}
.agile-detail {
  margin-top: 5px;
  font-size: 12px;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox label, .radio label{padding:0px;}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.btn-dot-dropdown {
    width: 38px;
    height: 24px;
    padding: 0;
    overflow: hidden;
    background: none;
    border-radius: 0.1875rem !important;
    border-color: #e9e9f2;
}
.fa-ellipsis-h{font-size:22px;color:#a1a0b2;}
.dropdown-menu .dropdown-item {
    font-size:11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.1875rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #a1a0b2;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}
.dropdown-menu{padding:10px;}
.dropdown-menu.is-right-aligned{left:auto;right:0;}
.dropdown-menu.profile-right-aligned{left:auto;right:13px;}
.dropdown-menu.is-right-aligned:after, .dropdown-menu.profile-right-aligned:after {
    left: auto;
    right: calc(1rem - 6px);
}
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: calc(50% - 6px);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.fa-caret-square-o-down{display:none;padding-top:3px;}
.stage:hover + .fa-caret-square-o-down{display:block;}
element.style {
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.file {
  visibility: hidden;
  position: absolute;
}
.input-lg{height:34px;}
.btn-orange{color: #fff;background-color:#ff8100;border-color:#ff8100;}
.label-orange{background-color: #ff8100;}
.form-container{padding:20px 35px;}
.form-container header{background:#00b9f5;padding:20px 20px 10px 20px;border-radius: 3px 3px 0px 0px;}
.form-container .form-data{background:#ffffff;padding:30px;border-radius: 0px 0px 3px 3px;}
.form-container .form-group{margin-bottom: 20px;}
.form-container input.form-control,.form-container input.form-control:focus,.form-container input.form-control:hover{
    display: block;
    width: 100%;
    height:40px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 40px;
    color: #797885;
    background-color: #f7f7fa;
    background-image: none;
    border: 1px solid #f7f7fa;
    border-radius: 0;
    box-shadow: transparent;
    outline:none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-blue,.btn-blue:focus,.btn-blue:hover{display: inline-block;color: #fff;width:100%;height:45px;background-color: #00b9f5;border-color: #00b9f5;box-shadow: none;outline: 0;text-decoration: none;text-align: center;vertical-align: middle;cursor: pointer;border: 1px solid transparent;line-height:45px;border-radius:2px;}