@model  IEnumerable<mvc.Models.ClinetMasterGridList>
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html
<div class="actionIcons paddingTop15 ">
    <!--div class="displayInlineBlock checkbox marginTop0 marginBottom0">
        <label class="paddingLeft0">
            <input type="checkbox" value="">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        </label>
    </div-->
    <i class="glyphicon glyphicon-tag"></i>
    <i class="glyphicon glyphicon-pencil"></i>
    <i class="glyphicon glyphicon-trash"></i>
</div>
